<!DOCTYPE html>
html(lang="en")

	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width")
		style(type="text/css")
			//- reset styles
			include ../../dist/assets/css/reset.css

			//- lient-specific CSS styles
			include ../../dist/assets/css/client-specific.css

			//- media queries
			include ../../dist/assets/css/media-queries.css

		block link
		block title

	body
		block content
