<!DOCTYPE html>
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width")
		style
			//- Reset Styles
			include ../../dist/assets/css/reset.css
			
			//- lient-specific CSS Styles
			include ../../dist/assets/css/client-specific.css
			
			//- Media Queries
			include ../../dist/assets/css/media-queries.css

		link(rel="stylesheet", href="../dist/assets/css/style.css")

		<!--[if gte mso 9]>
		style
			//- Outlook Conditional CSS
			include ../../dist/assets/css/outlook.css 
		<![endif]-->
		
		title Email Title
	body
		block content
