//- head
table.head
    tr

        //- logo
        td.head__logo
            a.head__link(href="#", target="_blank")
                img.head__logo__img(src="http://via.placeholder.com/400x80", alt="")

        //- push
        td.head__push

        //- logo-side
        td.head__logo-side
            a.head__link(href="#", target="_blank")
                img.head__logo-side__img(src="http://via.placeholder.com/80", alt="")
