extends tpl/_master.layout.jade

block content
	center
		table#bodyTable(align="center", border="0")
			tr
				td#bodyCell(align="center", valign="top")
					table#templateContainer(border="0")
						tr
							td(valign="top")
								table(border="0", align="center")
									tr
										td(valign="top")
										td(valign="top")
										td(valign="top")
								each mobile_link in mobile
									a.mobile_link(href="#{mobile_link.href}") #{mobile_link.number}
