<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Project title
		style
			include ../dist/assets/css/index-page.css
	body.index-page

		.index
			
			h1.index__title Project title
			ul.index__list
				li
					i 01.
					a(href="01-first-mail.html") First mail
				li
					i 02.
					span Second mail

			.index__side
				.index__desc
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque dolorem illum, culpa cupiditate quia earum iure voluptate. Sequi, rerum, dolorum. Reiciendis voluptas esse nobis voluptates vero non incidunt, illo!
				ul.index__links
					li
						a(href="#") GitHub Page
					li
						a(href="#") Download
